# Node.js dependencies
node_modules/
.pnpm/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
logs/
*.log

# Visual Studio Code settings
.vscode/

# Build output
.next/
out/

# Docker containers
.devcontainer/
